{%extends 'base_template.html'%}
{%block content%}

         <article class="media content-section">
             <img class="rounded-circle article-img" src = "{{object.author.profile.image.url}}">
          <div class="media-body">
             <div class="article-metadata">
                 <a class="mr-2" href="{%url 'articles:userpost' object.author.username%}">{{object.author.username}}</a>
                 <small class="text-muted">{{ object.date|date:"F d, Y"}}</small>
                 {%if object.author == user%}
                 <div>
                     <a class ="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'articles:update' object.Slug%}">Update</a>
                     <a class ="btn btn-danger btn-sm mt-1 mb-1" href="{%url 'articles:delete' object.Slug%}">Delete</a>
                 </div>
                 {%endif%}

             </div>
               <h2 class="article-title ml-5 mr - 1 mt-4 mb-4"> {{object.title}}</h2>
<!--            <h2 class="article-title ml-5 mr - 1"> {{object.title}}</h2>-->
              <style>
                  .jumbotron{
                  background-image:url({{object.thumbnail.url}});
                  background-repeat:no-repeat;
                  background-size: 100% 100%;;
                  }
              </style>
              <div class = "jumbotron">
<!--                  <img class="img-responsive article-img" src = "{{object.thumbnail.url}}">-->
                   <p class = "article-content">

             </p>

              </div>
             <p class = "article-content">
                 {{ object.body }}
             </p>
        </div>
        </article>

{%endblock%}
