{%extends 'base_template.html'%}
{%block content%}
<div class="jumbotron">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic text-white "></h1>
      <p class="lead my-3">
        <p class = "article-content">

             </p>
        <p class = "article-content">

             </p>
         <p class = "article-content">

             </p>
        <p class = "article-content">

             </p>
        <p class = "article-content">

             </p>

      </p>

    </div>
  </div>
<div class="container">
    <div class = "row">
        <div class ="col-sm-2">
            </div>
        <div class ="col-sm-8">
<h1 class = " mb-3 mt-2 ml-5"> {{view.kwargs.MainTopic}}</h1>
        {% for article in articles %}
         <article class="media content-section">
             <img class="rounded-circle article-img" src = "{{article.author.profile.image.url}}">
         <div class="media-body">
             <div class="article-metadata">
                 <a class="mr-2" href="{%url 'articles:userpost' article.author.username%}">{{article.author.username}}</a>
                 <small class="text-muted">{{ article.date|date:"F d, Y"}}</small>
             </div>
            <h2><a class="article-title" href="{% url 'articles:detail' article.Slug %}">{{article.title}}</a> </h2>
             <p class = "article-content">
                 {{ article.snippet }}
             </p>
        </div>
        </article>
        {% endfor %}
  </div>
    </div>
</div>
{%endblock%}




