{%extends 'base_template.html'%}
{%block content%}
<h1 class = "mb-3">Post by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
        {% for article in articles %}
         <article class="media content-section">
             <img class="rounded-circle article-img" src = "{{article.author.profile.image.url}}">
         <div class="media-body">
             <div class="article-metadata">
                 <a class="mr-2" href="{%url 'articles:userpost' article.author.username%}">{{article.author.username}}</a>
                 <small class="text-muted">{{ article.date|date:"F d, Y"}}</small>
             </div>
            <h2><a class="article-title" href="{% url 'articles:detail' article.Slug %}">{{article.title}}</a> </h2>
             <p class = "article-content">
                 {{ article.snippet }}
             </p>
        </div>
        </article>
        {% endfor %}
{%endblock%}




